{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Section list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Section</th>
                <th>Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('section_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.info|raw }}</td>
                <td>{% if is_granted('ROLE_ADMIN') %}<a class="btn btn-default" href="{{ path('section_edit', { 'id': entity.id }) }}">Edit</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
