{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access Denied</h1>

    <p>
        You do not have access to the requested content. Please <a href="{{ path('page_home') }}">return to the homepage</a>.
    </p>
{% endblock %}