{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Service Opportunities/Internships</h1>

    {% for entity in entities %}
        <div class="col-sm-12 well">
                <div class="col-sm-10">
                    <h2 style="display:inline">
                        {{ entity.title }}
                    </h2>

                    <p>
                        {{ entity.description|raw }}
                    </p>
                </div>
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-default"
                                                href="{{ path('opportunity_edit', { 'id': entity.id }) }}">Edit</a>{% endif %}
        </div>
    {% endfor %}
    {% endblock %}
