
.center {
    margin: 0 auto;
}

.margin-top {
    margin-top: 1%;
}


div.checkbox > label {
    padding-left: 5px;
    padding-right: 5px;
}

.checkbox input[type="checkbox"] {
    position: inherit;
    margin-left: 10px;
}

div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}