
.center {
    margin: 0 auto;
}

.margin-top {
    margin-top: 1%;
}


div.checkbox > label {
    padding-left: 5px;
    padding-right: 5px;
}

.checkbox input[type="checkbox"] {
    position: inherit;
    margin-left: 10px;
}

div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}

.caption > h3 {
    color:black
}

.caption > p {
    color:black
}


/**********  Accessibility **********/
#skip a, #skip a:hover, #skip a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: -10px;
}