.full  {
    background: url('http://www.watershed.uga.edu/bundles/app/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    background: transparent;
    font-family: 'Open Sans', 'Arial', 'sans-serif';
}

.navbar-brand, h1, h2, h3 {
    font-family: 'Josefin Sans', 'Arial', 'sans-serif';
}


.center {
    margin: 0 auto;
}

.margin-top {
    margin-top: 1%;
}


div.checkbox > label {
    padding-left: 5px;
    padding-right: 5px;
}

.checkbox input[type="checkbox"] {
    position: inherit;
    margin-left: 10px;
}

div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}

.caption > h3 {
    color:black
}

.caption > p {
    color:black
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

.sidebar {
    background-color: #f8f8f8;
    height: 95vh;
    margin-top: -20px;
}

.navbar-default .navbar-brand {
    color: #4d4b4b;
}

.navbar-default .navbar-nav > li > a {
    color: #4d4b4b;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    text-decoration: underline;
}

.table {
    background-color: #f8f8f8;
}

form {
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.fc-content {
    cursor: pointer;
}

form div div  {
    margin-bottom: 25px;
}

.table {
    background-color: white;
    border: 1px solid #dddddd;
}

.bold {
    font-weight: bold;
}


/**********  Google search display *******/

table.gsc-search-box td {
  padding:0 !important
}

.gsc-input-box {

}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
}

form.gsc-search-box {}
div.gsc-control-cse {}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    background-image: url("http://www.google.com/uds/css/v2/search_box_icon.png") !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 25px !important;
    filter: none;
}

/**********  Accessibility **********/
#skip a, #skip a:hover, #skip a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
    margin-bottom: -10px;
}


/********** Media Queries **********/

@media (max-width: 1199px) {
    .navbar .nav > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (max-width: 920px) {
    .navbar .nav > li > a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: smaller;
    }
}


@media (max-width: 800px) {
    .navbar .nav > li > a {
        padding-left: 2px;
        padding-right: 2px;
        font-size: smaller;
    }
}