{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-10">
        <h1>Category list</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a class="btn btn-primary" href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </div>
{% endblock %}
